---
import "./column-container.css";

const { title, imageURL } = Astro.props;
---

<article class="content-container">
  <div class="content-container__intro">
    {title && <h2>{title}</h2>}
    {imageURL && <img class="square-image" src={imageURL} />}
  </div>
  <div class="content-container__content">
    <slot />
  </div>
</article>
