.memberships {
  margin-top: 140px;
  display: flex;
  padding-inline: 5%;
  flex-direction: column;
  gap: 2rem;
}
.memberships h1 {
  font-size: 3rem;
}

.memberships__plans {
  display: grid;
  max-width: 90%;
  margin-inline: auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.inline-banner {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--slate-600);
  border-radius: var(--border-radius-outer);
  margin-inline: auto;
  max-width: 77%;
}

.inline-banner > p {
  flex: 1;
}

@media (width < 600px) {
  .inline-banner {
    max-width: 73%;
    text-align: center;
    flex-direction: column;
  }
}
