---
import "./memberpship-plans.css";
---

<article class="memberships">
  <header class="block-header" data-align="center">
    <span class="pill">Memberships</span>
    <h1>Our Plans</h1>
    <p>
      We offer drop ins for the price £15 per class, we offer an exclusive
      Legend pricing for people of the age of 55 and over at £6 per class
    </p>
  </header>
  <div class="inline-banner"> 
    <p>Register your interest in our brand new membership and gain exclusive access before sign ups go-live. 
        The first 25 sign ups will receive a free intro course worth £89.</p> 
        
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-xyA-2-Z1XKpWcKsO5nkHm9wZpDH6FU97XE1GsR3Ja9fBpg/viewform" class="btn">Register interest</a>
    </div>
  <div class="memberships__plans">
    <slot />
  </div>
</article>
