---
import "./memberpship-plans.css";
---

<article class="memberships">
  <header class="block-header" data-align="center">
    <span class="pill">Memberships</span>
    <h1>Our Plans</h1>
    <p>
      We offer drop ins for the price £15 per class, we offer an exclusive
      Legend pricing for people of the age of 55 and over at £6 per class
    </p>
  </header>
  <div class="memberships__plans">
    <slot />
  </div>
</article>
