---
import "./memberpship-plans.css";
---

<article class="memberships">
  <header class="block-header" data-align="center">
    <span class="pill">Memberships</span>
    <h1>Our Plans</h1>
  </header>

  <div class="memberships__plans">
    <slot />
  </div>
</article>
