.primary-footer {
  background-color: #000;
  border-top: 1px solid #333;
  padding-inline: 5%;
  padding-block: 4rem;
  display: flex;
  gap: 2rem;

  > * {
    flex: 1;
  }

  @media (width < 895px) {
    flex-direction: column;
  }
}

.details {
  width: 100%;
  display: flex;
  gap: 2rem;

  > * {
    flex: 1;
  }

  @media (width < 600px) {
    flex-direction: column;
  }
}

.credits {
  font-size: 0.75rem;
  color: var(--slate-500);
}

address {
  color: var(--slate-500);
  font-size: 0.85rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  a,
  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
  }

  li {
    align-items: flex-start;
  }
}
