.primary-footer {
  background-color: #000;
  border-top: 1px solid #333;
  padding-inline: 5%;
  padding-block: 4rem;
  display: flex;
  gap: 2rem;
}

.primary-footer > * {
  flex: 1;
}

.primary-footer .logo {
  display: block;
  opacity: 0.6;
  width: 200px;
}

@media (width < 895px) {
  .primary-footer {
    flex-direction: column;
  }
}

.details {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.details > * {
  flex: 1;
}

@media (width < 600px) {
  .details {
    flex-direction: column;
  }
}

.credits {
  font-size: 0.75rem;
  color: var(--slate-500);
}

address {
  color: var(--slate-500);
  font-size: 0.85rem;
}

@media (width < 600px) {
  .credit-container {
    order: 9;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
