---
import "./hero-banner.css";
---

<article class="hero-banner">
    <header>
        <h1>A vehicle for change</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam facere reprehenderit, modi quae earum aut iusto deserunt, expedita et corrupti ab! Id soluta corporis iure magni, temporibus doloribus exercitationem?</p>
    </header>
    <div class="gallery-columns">
        <div><img src="" /></div>
        <div class="double-images"><img src="" /><img src="" /></div>
        <div class="centered-image"><img src="" /></div>
        <div class="double-images"><img src="" /><img src="" /></div>
        <div><img src="" /></div>
    </div>
</article>