.hero-banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    text-align: center;
    margin-top: 150px;
    width: 90%;
    max-width: 1024px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 8rem;
    font-weight: 200;
  }
  p {
    max-width: 750px;
    font-size: 1.2rem;
    text-wrap: balance;
    font-weight: 300;
  }
}

.gallery-columns {
  --center-image-transform: 120px;
  flex-shrink: 0;
  width: 1900px;
  flex: 1;
  width: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--border-radius-outer);
  }

  img,
  video {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: red;
  }

  .centered-image {
    img,
    video {
      width: 100%;
      transform: translateY(var(--center-image-transform));
      aspect-ratio: 3.5 / 4;
      border-radius: var(--border-radius-outer);
    }
  }
}
