.content-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-outer);
  overflow: hidden;
  background-color: #000;
  aspect-ratio: 4 / 5;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center center;
    opacity: 0.9;
  }

  section {
    z-index: 1;
    padding: 1rem;
    flex: 1;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 50%
    );
    p {
      min-height: 80px;
    }
  }
}
