---
import "./link-content-card.css";
const { title, description, href, imageURL } = Astro.props;
---

<a href={href} class="content-card">
    <img src={imageURL} alt="" aria-hidden />
    <section>
        <div class="description">
            <div>
                <h3>{title}</h3>
                <p>{description}</p>
            </div>
            <ion-icon name="arrow-forward-circle-outline" size="30px"></ion-icon>
        </div>
    </section>
</a>

