---
import ColumnContainer from "../components/column-container/column-container.astro";
import ContentColumns from "../components/content-columns/content-columns.astro";
import PageDividerImage from "../components/page-divider-image/page-divider-image.astro";
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <PageHeading
    title="About Death or Glory Training Club"
    intro="More than your regular gym, we are a community"
  />
  <PageDividerImage
    imageURL="/group.webp"
    alt="large group of members outside of the gym"
  />
  <ColumnContainer title="About us">
    <h3>
      Death or Glory. It's just a name. But what it stands for is something much
      much more.
    </h3>
    <ContentColumns>
      <p>
        We provide a vehicle for change. We provide an escape from the norm. A
        community of like minded individuals who don't settle for anything less
        than all in.
      </p>
      <p>
        Our classes are open to all age groups and levels of ability. Each
        workout of the day can be tailored to match your own personal skill
        level and goal.
      </p>
      <p>
        At CrossFit Death or Glory we want to change peoples opinions on
        fitness. We want to show you what the human body is capable of. Wether
        you are brand new to Crossfit, have tried it before and weren't
      </p>
      <p>
        quite sure, or have been doing it for years and looking to up your level
        of performance in the box and on the competition floor, we are here to
        help.
      </p>
      <p>
        Each week we programme class to cover a broad range of weightlifting,
        gymnastic and bodyweight movements. Along side a healthy dose of high
        intensity cardiovascular work.
      </p>
      <p>
        Everything we do here is built around you and the community. This isn't
        a place where you are just a number. We care about you and your journey
        and we want you to be a part of ours.
      </p>
    </ContentColumns>
  </ColumnContainer>
</Layout>
