---
import ColumnContainer from "../components/column-container/column-container.astro";
import ContentColumns from "../components/content-columns/content-columns.astro";
import PageDividerImage from "../components/page-divider-image/page-divider-image.astro";
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageName="about"
  title="Death or Glory Training Club | About Us" 
  description="Discover the mission and values of Death or Glory Training Club. Learn how we foster a supportive environment for individuals committed to pushing their fitness boundaries."
  keywords="About Death or Glory Training Club, fitness philosophy, supportive fitness community, fitness goals Newcastle"
>
  <PageHeading
    title="About Death or Glory Training Club"
    intro="More than your regular gym, we are a community"
  />
  <PageDividerImage
    imageURL="/group.webp"
    alt="large group of members outside of the gym"
  />
  <div class="block">
    <ColumnContainer title="About us">
      <h3 class="title">
        Death or Glory. It's just a name. But what it stands for is something
        much much more.
      </h3>
      <ContentColumns>
        <p>
            We provide a vehicle for change. We provide an escape from the norm. A community of like minded individuals who don't settle for anything less than all in.
        </p>
        <p>
            Our classes are open to all age groups and levels of ability. Each workout  can be tailored to match your own personal skill level and goal.
        </p>
        <p>
            At Death or Glory Training Club we want to change people's opinions on fitness. We want to show you what the human body is capable of. Whether you are brand new to training, or have tried things in the past but haven’t found your calling,  or have been doing it for years and looking to up your level of performance in the gym  and on the competition floor, we are here to help and offer something for everyone. 
        </p>
        <p>
            Each week we programme classes to cover a broad range of CrossFit, weightlifting, gymnastic and bodyweight movements, strength and conditioning programmes and Hyrox. Just take your pick! 
        </p>
        <p>
            Everything we do here is built around you and the community. This isn't a place where you are just a number. We care about you and your journey and we want you to be a part of ours.
        </p>
      </ContentColumns>
    </ColumnContainer>
  </div>
</Layout>
