---
import ContentColumns from "../components/content-columns/content-columns.astro";
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="scripts">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </Fragment>
  <PageHeading title="Get in touch" />
  <div class="contact-container">
    <article class="block">
      <section class="contact-details">
        <h2>Contact</h2>
        <ul role="list" class="contact-links">
          <li>
            <a href="mailto:contact@deathorglorytrainingclub.co.uk"
              ><ion-icon name="mail"></ion-icon> contact@deathorglorytrainingclub.co.uk</a
            >
          </li>
          <li>
            <a href="tel:07876495711"
              ><ion-icon name="call"></ion-icon> 07876495711<a></a></a
            >
            <li>
              <ion-icon name="location"></ion-icon>
              <address>
                Unit 6E<br />
                Chollerton Drive<br />
                North Tyneside Industrial Estate<br />
                Benton<br />
                Newcastle upon Tyne<br />
                NE12 9SZ<br />
              </address>
            </li>
          </li>
        </ul>
        <h2>Follow Us</h2>
        <ul role="list" class="contact-links">
          <li>
              <a href="https://www.instagram.com/deathorglorytrainingclub">
                  <ion-icon name="logo-instagram"></ion-icon>Instagram
              <a/>
          </li>
          <li><a href="https://www.youtube.com/@crossfitdeathorglory5657">
              <ion-icon name="logo-youtube"></ion-icon>YouTube
          <a/></li>
          <li><a href="https://www.facebook.com/CrossfitDeathorGlory">
              <ion-icon name="logo-facebook"></ion-icon>Facebook
          <a/></li>
      </ul>
      </section>
    </article>
    <iframe id="map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2287.278606743205!2d-1.5407282999999998!3d55.0208095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e71c20386e589%3A0x1afadb07a9914799!2sDeath%20or%20Glory%20Training%20Club!5e0!3m2!1sen!2suk!4v1738617405732!5m2!1sen!2suk"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>

<!-- <script>
  import Leaflet from "leaflet";
  const map = Leaflet.map("map").setView(
    [55.02093918985974, -1.5406059159554446],
    16,
  );

  var greenIcon = new Leaflet.Icon({
    iconUrl:
      "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png",
    shadowUrl:
      "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41],
  });

  Leaflet.marker([55.02093918985974, -1.5406059159554446], {
    icon: greenIcon,
  }).addTo(map);

  Leaflet.tileLayer(
    "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}",
    {
      maxZoom: 15,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    },
  ).addTo(map);
</script> -->
