---
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    pageName="privacy-policy"
	title="Death or Glory Training Club | Privacy Policy" 
	description="Death or Glory Training Club is committed to protecting our members privacy, and will only collect and use personal data as described here. We only process personal data where we have a lawful basis for doing so. This privacy information explains how we use your personal data, how it is collected, held and processed. What information do we collect?"
	keywords="Death or Glory Training Club, fitness center Newcastle, CrossFit Newcastle, Hyrox training, Strength and Conditioning classes, fitness community"
>
    <PageHeading
        title="Privacy Policy"
    />
    <div class="page-content">
    <p>
        Death or Glory Training Club is committed to protecting our members privacy, and will only collect and use personal data as described here. We only process personal data where we have a lawful basis for doing so. This privacy information explains how we use your personal data, how it is collected, held and processed.
    </p>
    <h2>What information do we collect?</h2>
    <p>We may collect some or all of the following personal data:<br/>
        Name, Date of Birth, Gender, Email Address, Address and Post Code, Telephone Number, Emergency Name and Number, and Health Declaration.
    </p>
    <h2>When do we collect your Information?</h2>
    <p>
        When you complete an online membership. If you enquire about a product or a service. If you book in to attend a drop in class or free trial. Sending emails to <a href="mailto:contact@deathorglorytrainingclub.co.uk">contact@deathorglorytrainingclub.co.uk</a> Following an accident or injury, information is recorded in the accident book. Browsing the website Please note that your data is transmitted directly to our Team Up and/or Square account where it be stored for the purpose of administering our business and providing you with the services. To view Team Up's privacy policy- please go to <a href="https://goteamup.com/company/privacy/">https://goteamup.com/company/privacy/</a>. To view Square's privacy policy please go to <a href="https://squareup.com/gb/en/legal/general/privacy-no-account#:~:text=We%20collect%20information%20you%20provide,Seller%2C%20or%20otherwise%20use%20or">https://squareup.com/gb/en/legal/general/privacy-no-account#:~:text=We%20collect%20information%20you%20provide,Seller%2C%20or%20otherwise%20use%20or</a> </p>

    <h2>How do we use this personal data?</h2>

    <p>
        Under the GDPR, we must always have a lawful basis for using personal data. This may be because the data is necessary for our performance contract with you, because you have consented to our use of your personal data, or because it is in our legitimate business interests to use it. Your personal data may be used for one of the following purposes:
    </p>
    <p>
        To manage your account, to process your membership through Team Up, to provide information about products or services relevant to you, for communicating with you including responding to emails or telephone calls from you, respond to any questions or concerns you may have and to share photos on our social media platforms, your permission will be asked for before a photo is taken. 
    </p>

    <p>
        We will store your information for no longer than is necessary, information will be retained so long as you are a member at Death or Glory Training club or until your contract is terminated. 
    </p>
    <p>
        We will not share any of your personal data with any third parties, exception being Team Up and Square (on line booking system and membership) and Brevo (<a href="https://academy.brevo.com/privacy">https://academy.brevo.com/privacy</a>) (newsletter distribution).
    </p>
    <h2>
        Opting Out
    </h2>
    <p>
        If at any point you would like to opt out of receiving information from us then please contact <a href="mailto:contact@deathorglorytrainingclub.co.uk">contact@deathorglorytrainingclub.co.uk </a> 
    </p>

    <h2>
        Keeping your information secure
    </h2>
    <p>
        We take appropriate steps to ensure the security of your information, all paper files are kept locked, and passwords for our accounts are updated regularly. The transmission of information via the internet is not completely secure and therefore we cannot guarantee the security of data sent to us electronically and this is therefore entirely at your own risk. 
    </p>
    <h2>Children's personal data</h2>
    <p>Personal data collected is, name, address, DOB, phone number, email, emergency contact, general health questions, doctors name, all given with parental consent. </p>
    <h2>
        Access to Information 
    </h2>
    <p>
        The data protection act gives you the right to access the information we hold about you and to have any inaccuracies in your information corrected if necessary. You are entitled to ask for us to correct, delete, or update your personal information and to object to automated decision making, where you have give us consent to use your personal data in any particular manner, you also have the right to withdraw this consent at any time. 
    </p>
    <h2>
        Changes to this Privacy notice
    </h2>
    <p>
        We may change this privacy notice from time to time. This may be necessary, for example if the law changes, or if we change our business in a way that affects personal data protection. Any changes will be made available at <a href="https://www.deathorglorytrainingclub.co.uk">www.deathorglorytrainingclub.co.uk</a>  
If you have any questions about data protection, please email us at <a href="mailto:contact@deathorglorytrainingclub.co.uk">contact@deathorglorytrainingclub.co.uk</a>

    </p>
    <div>
</Layout>