---
import { time } from "motion";
import ClassCard from "../components/class-card/class-card.astro";
import ColumnContainer from "../components/column-container/column-container.astro";
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";
import timetable from "./timetable.json"; 

const daysOrder = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];

const classes = Object.groupBy(timetable, ({ day }) => day);

const sortedClasses = Object.keys(classes).sort((a, b) => {
  return daysOrder.indexOf(a) - daysOrder.indexOf(b)
})

---

<Layout
  pageName="timetable"
  title="Death or Glory Training Club | Timetables" 
  description="View the current class schedule at Death or Glory Training Club. Plan your workouts with our convenient and regularly updated timetable."
  keywords="fitness class schedule, workout timetable Newcastle, Death or Glory class times, gym schedule, fitness planning"
>
  <PageHeading
    title="Our Schedule"
    intro="There are different classes available throughout the week"
  />

  {sortedClasses.map(day => 
    <div class="block">
      <ColumnContainer title={day}>
        <div class="timetable-list">
          {(classes[day] || []).map(cls => 
            <ClassCard name={cls.name} times={cls.times} />
          )}
        </div>
      </ColumnContainer>
    </div>
  )}
</Layout>
