.testimonial-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline: 10%;
  border-radius: var(--border-radius-outer);
  padding: 2rem;
  background-color: #111;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;

  blockquote {
    font-style: italic;
    text-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  svg {
    fill: #fff;
    transform: scaleX(-1);
    width: 40px;
  }
}
