---
import "./primary-nav.css";
---
<header class="primary-nav">
    <div>
        Death or Glory<br/> Training Club
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/memberships">Memberships</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/timetable">Timetable</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav> 

    <div class="cta">
        <a class="btn" href="/memberships">Join</a>
    </div>
</header>