.primary-nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 5%;
  box-sizing: border-box;
  backdrop-filter: blur(7px);
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
  background-color: rgba(0, 0, 0, 0.3);

  a:not(.btn) {
    color: #fff;
  }

  > * {
    flex: 1;
  }

  ul {
    flex: 1;
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  .cta {
    display: flex;
    justify-content: flex-end;
  }
}
