.page-heading {
  padding-top: 10rem;
  padding-bottom: 4rem;
  padding-inline: 5%;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #000;
  border-bottom: 1px solid #333;

  h1 {
    font-size: 5rem;
    font-weight: 300;
  }

  @media (width <= 896px) {
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
  }
}
