:root {
  --slate-500: #999;
  --slate-900: #0d0d0d;

  --amber-200: #dfdbd8;

  --background: var(--slate-900);
  --text: var(--amber-200);

  --border-radius-outer: 30px;
}

@layer reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }

  body {
    font-family: "Inter", serif;
    letter-spacing: 0.04rem;
    line-height: 1.6;
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--text);
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--text);
      opacity: 0.8;
    }
  }

  p {
    font-weight: 300;
  }

  img {
    border-radius: var(--border-radius-outer);
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    color: #fff;
    line-height: 100%;
    text-wrap: balance;
  }
}

@layer components {
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  .btn {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: fit-content;
    min-height: 36px;
    padding-inline: 1rem;
    border-radius: 100px;
    background: #fff;
    color: var(--slate-900);

    &[data-variant="outlined"] {
      transition: color 0.3s, border 0.3s;
      background: transparent;
      border: 1px solid var(--slate-500);
      color: var(--slate-500);

      &:hover,
      &:focus-visible {
        color: #fff;
        border: 1px solid #fff;
        opacity: 1;
      }
    }
  }
}
