:root {
  --slate-900: #1a1a1a;

  --amber-200: #dfdbd8;

  --background: var(--slate-900);
  --text: var(--amber-200);

  --border-radius-outer: 0.5rem;
}

@layer reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-padding-top: 100px;
  }

  a {
    color: var(--text);
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--text);
      opacity: 0.8;
    }
  }

  img {
    border-radius: var(--border-radius-outer);
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
