:root {
  --slate-500: #999;
  --slate-600: #5d5c5c;
  --slate-900: #0d0d0d;

  --amber-200: #dfdbd8;

  --background: var(--slate-900);
  --text: var(--amber-200);

  --border-radius-outer: 20px;
}

@layer reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}

p {
  margin-bottom: 1rem;
}

p:only-of-type {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", serif;
  letter-spacing: 0.04rem;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

:target {
  scroll-margin-top: 70px;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover,
a:focus-visible {
  color: var(--text);
}

p {
  font-weight: 300;
}

img {
  border-radius: var(--border-radius-outer);
}

[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  color: #fff;
  line-height: 1.2;
  text-wrap: balance;
}

.logo {
  text-transform: uppercase;
}

.block {
  padding-inline: 5%;
  padding-block: 4rem;
}

@media (width <= 430px) {
  .block {
    padding-block: 1rem;
  }
}

.faq {
  width: 100%;
  max-width: 750px;
  margin-inline: auto;
}

.block-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.block-header[data-align="center"] {
  align-items: center;
  text-align: center;
  margin-inline: auto;
  max-width: 550px;
}

.block-header[data-variant="sticky"] {
  top: 60px;
  position: sticky;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.flex-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.grid-2 {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1.5fr;
}

.pill {
  width: fit-content;
  align-items: center;
  display: flex;
  height: 28px;
  padding-inline: 1rem;
  border: 1px solid var(--slate-500);
  color: var(--slate-500);
  border-radius: var(--border-radius-outer);
  font-size: 0.85rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

details {
  border-bottom: 1px solid var(--slate-600);
  padding-bottom: 1rem;
}

details .remove {
  display: none;
}

details .remove,
details .add {
  font-size: 32px !important;
}

details[open] .remove {
  display: block;
}

details[open] .add {
  display: none;
}

details summary {
  font-size: 1.25rem;
  font-weight: 500;
  padding-block: 1rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  -webkit-appearance: none;
  appearance: none;
}

details summary::marker {
  content: "";
}

details .icon {
  min-width: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

details p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--slate-500);
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.btn {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: fit-content;
  text-transform: uppercase;
  font-size: 0.85rem;
  height: 36px;
  padding-inline: 1rem;
  border-radius: 10px;
  background: #fff;
  text-wrap: nowrap;
  color: var(--slate-900);
}

.btn:hover,
.btn:focus-visible {
  cursor: pointer;
}

.btn[data-variant="outlined"] {
  transition:
    color 0.3s,
    border 0.3s;
  background: transparent;
  border: 1px solid var(--slate-500);
  color: var(--slate-500);
}

.btn[data-variant="outlined"]:hover,
.btn[data-variant="outlined"]:focus-visible {
  color: #fff;
  border: 1px solid #fff;
  opacity: 1;
}

.time {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.2rem;
  color: var(--slate-500);
  font-size: 0.85rem;
}

.class-title {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.class-title ion-icon {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
  line-height: 1.2;
}

@media (width <= 430px) {
  .title {
    font-size: 2rem;
  }
}

.square-image {
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-outer);
}

.contact-container {
  position: relative;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

@media (width <= 896px) {
  .contact-container {
    padding-left: 0;
    grid-template-columns: 1fr;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contact-links a,
.contact-links li {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.contact-links li {
  align-items: flex-start;
}

#map {
  min-height: 50vh;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.timetable-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
