---
import PrimaryFooter from "../components/primary-footer/primary-footer.astro";
import PrimaryNav from "../components/primary-nav/primary-nav.astro";
import "./global.css";

const { title, description, keywords, } = Astro.props as {
  title: string;
  description: string;
  keywords: string;
};

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description || "Death or Glory Training Club"} />
    <meta name="keywords" content={keywords || "Crossfit, Gym, Newcastle, Fitness, Health"} />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Death or Glory Training Club"}</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content={title || "Death or Glory Training Club"}>
    <meta property="og:description" content={description || "Death or Glory Training Club"}>
    <meta property="og:url" content="https://www.deathorglorytrainingclub.co.uk/">
    <meta property="og:image" content="https://www.deathorglorytrainingclub.co.uk/hero-image.jpg">
    <meta property="og:site_name" content="Death or Glory Training Club">
    <meta property="og:locale" content="en_GB">
    
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title || "Death or Glory Training Club"}>
    <meta name="twitter:description" content={description || "Death or Glory Training Club"}>
    <meta name="twitter:image" content="https://www.deathorglorytrainingclub.co.uk/hero-image.jpg">
    <meta name="twitter:url" content="https://www.deathorglorytrainingclub.co.uk/">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <slot name="scripts" />
  </head>
  <body>
    <PrimaryNav />
    <slot />
    <PrimaryFooter />
  </body>
</html>
