---
import Events from "../../components/events/events.astro";
import PageHeading from "../../components/page-heading/page-heading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  pageName="events"
  title="Death or Glory Training Club | Events" 
  description="Discover upcoming fitness events, training sessions, and special workshops at Death or Glory Training Club."
  keywords="About Death or Glory Training Club, fitness philosophy, supportive fitness community, fitness goals Newcastle"
>
  <PageHeading
    title="Events"
  />
    <Events showHeading={false} />
  
  </div>
</Layout>
