.classes {
  padding-inline: 5%;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.classes header {
  display: flex;
  justify-content: space-between;
}

.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
